@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-bg-primary: #0f1115;
    --color-bg-secondary: #151821;
    --color-bg-tertiary: #1b1f2a;
    --color-card: #161a23;
    --color-card-border: #232838;
    --color-text-primary: #ffffff;
    --color-text-secondary: #a0a6b3;
    --color-text-muted: #6b7280;
    --color-primary: #4f46e5;
    --color-primary-light: #6366f1;

    --radius-xl2: 1rem;

    /* --breakpoint-xxs: 320px;
    --breakpoint-xs: 375px;
    --breakpoint-sm: 480px;
    --breakpoint-md: 640px;
    --breakpoint-tablet: 768px;
    --breakpoint-laptop: 1024px;
    --breakpoint-hd: 1280px;
    --breakpoint-hdplus: 1366px;
    --breakpoint-desktop: 1440px;
    --breakpoint-fhd: 1920px;
    --breakpoint-qhd: 2560px;
    --breakpoint-uhd: 3840px; */
}